*{
    padding:0;
    margin:0;
}
body{
    font-family:'Montserrat',sans-serif;
    background-color: #444;
    color: #fff;
    text-align:center;
    margin-top: 5px;
}
.cabecalho{
    max-width: 1280px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content:space-evenly;
    position: relative;
    align-items: center;
}
.cabecalho__logo{
    display: flex;
}
.cabecalho__logo img{
    margin: 0 auto;
    height: 100px;
}
.cabecalho__busca{
    width:96%;
    border-radius:6px;
    border: 1px solid #dedede;
    box-shadow:0 2px 2px #0000000d;
    padding: 16px 14px 16px 30px;
    font-weight: 400;
}
.cabecalho__opcoes{
    display:flex;
}
.cabecalho__opcao{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
}
